<!-- 1. List Events -->
<div id="pin-div" class="menu-div padded">
    <form method="POST" action="/event/feedback/pin/">

        <span>What is your PIN?</span>
        <hr>
        <br>

        <div class="groupdiv">

            <label>Event Name</label>
            <table>
                <tr>
                    <td>
                        <input class="field-small" placeholder="" id="pin1" type="text" name="pin1" required>
                        <br>
                    </td>
                    <td>
                        <input class="field-small" placeholder="" id="pin2" type="text" name="pin2" required>
                        <br>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            
            <input type="submit" value="OK">

        </div>
    </form>
</div>