<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    <title>Jimoo</title>

</head>

<body class="simple-style" onLoad=displayOption(<%=ui.menuitem %>)>


    <div class="title groupdiv">
        <table class="title">
            <tr>
                <td>
                    <h1 class="title">Jimoo</h1>
                </td>
                <td class="subtitle">
                    <span class="subtitle">easy feedback</span>
                </td>
            </tr>
        </table>
    
        <hr>

        <div class="buttons">
        <input class="menu-button" type="submit" value="Create Event" onclick="displayOption('1')">
        <input class="menu-button" type="submit" value="List Events" onclick="displayOption('2')">
        <input class="menu-button" type="submit" value="Modify Event" onclick="displayOption('3')">
        <input type="button" onclick="location.href='/';" value="Reset" />
        </div>


    </div>

    <!-- Form Partials -->
    <% include ./feedback-admin-form.ejs %>


    <!-- navbar buttons control  -->
    <!-- toggles div sections for the forms and the buttons) -->
    <script>
        function displayOption(activeOption) {

            activeOption--;
            var i;
            var activediv = document.getElementsByClassName("menu-div");
            var activebutton = document.getElementsByClassName("menu-button");

            for (i = 0; i < activediv.length; i++) {
                if (i == activeOption) {
                    activediv[i].style.display = "block";
                    activebutton[i].style.background = "rgb(0, 9, 12)";
                } else {
                    activediv[i].style.display = "none";
                    activebutton[i].style.background = "";
                }
            }
        }
    </script>
</body>
</html>