<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    <title>Jimoo</title>

</head>

<body class="simple-style" onLoad="activateUI('<%= ui.flow.activateDiv %>','<%= ui.flow.activateButton %>')">


<!--
    <div class="title groupdiv">
        <table class="title">
            <tr>
                <td>
                    <h1 class="title">Jimoo</h1>
                </td>
                <td class="subtitle">
                    <span class="subtitle">easy feedback</span>
                </td>
            </tr>
        </table>
    -->
        <hr>

        <div class="buttons">
        <input id='create-button' class="menu-button" type="submit" value="Create Event" onclick="activateUI('create-div','create-button')">
        <input id='list-button' class="menu-button" type="submit" value="List Events" onclick="activateUI('list-div','list-button')">
        <input id='modify-button' class="menu-button" type="submit" value="Modify Event" onclick="activateUI('modify-div','modify-button')">
        <input id='reset-button' type="button" onclick="location.href='/';" value="Reset" />
        </div>


    </div>

    <!-- Form Partials -->
    <% include ./feedback-admin-form.ejs %>


    <!-- navbar buttons control  -->
    <!-- toggles div sections for the forms and the buttons) -->
    <script>
        function activateUI(activateDiv, activateButton) {

            // enable divs
            var i;

            var divs = document.getElementsByClassName("menu-div");
            var buttons = document.getElementsByClassName("menu-button");

            // reset/disable all divs
            for (i = 0; i < divs.length; i++) {
                divs[i].style.display = "none";
            }

           
            // disable all buttons
            for (i = 0; i < buttons.length; i++) {
                buttons[i].style.background = "";
            }

            // activate requested button and div

            document.getElementById(activateDiv).style.display = "block";          
            document.getElementById(activateButton).style.background = "rgb(0, 9, 12)";
        }
    </script>
</body>
</html>