<!-- Menu & Navigation partial -->

<div class="titlediv">
    <input class="menu-button" type="submit" value="Create Event" onclick="displayOption('1')">
    <input class="menu-button" type="submit" value="List Events" onclick="displayOption('2')">
    <input class="menu-button" type="submit" value="Modify Event" onclick="displayOption('3')">
    <input type="button" onclick="location.href='/';" value="Reset" />
</div>


<script>
    function displayOption(activeOption) {

        activeOption--;
        var i;
        var activediv = document.getElementsByClassName("menu-div");
        var activebutton = document.getElementsByClassName("menu-button");

        for (i = 0; i < activediv.length; i++) {
            if (i == activeOption) {
                activediv[i].style.display = "block";
                activebutton[i].style.background = "rgb(0, 9, 12)";
            } else {
                activediv[i].style.display = "none";
                activebutton[i].style.background = "";
            }
        }
    }
</script>